html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

@font-face {
    font-family: 'mcfont';
    src: url('mcfont.ttf') format('truetype');
}

body {
    background-color: rgb(77, 77, 77);
    font-family: 'mcfont';
}

.search {
    position: fixed;
    top: 25px;
    left: 20px;
    width: 10%;
    text-align: center;
    z-index: 1000000;
    text-shadow: 0 0 15px white;
}

.search button {
    margin: 0;
    margin-top: 15px;/*TODO it shifts position down on load :/ also should be 5px margin i justp ut 15 so it was less shifting*/
    border-radius: 15px;
    background-color: rgb(53, 53, 53);
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.search textarea {
    margin: 0;
    font-family: sans-serif;
    border-radius: 5px;
    border: solid;
    border-color: rgba(0, 0, 0, 0);
    resize: none;
    height: 20px;
    background-color: rgb(53, 53, 53);
    color: white;
    align-items: center;
    text-align: center;
}

.search textarea::placeholder {
    color: rgb(146, 146, 146);
}

.search textarea:focus {
    border-color: #0f76e4;
    outline: none;
}

.nocursor {
    cursor: default;
}

.bigname {
    text-align: center;
    color:black;
}

.bigname a {
    color:black;
    text-decoration: none;
}

.preoutput {
    text-align: center;
    color: black;
    text-shadow: 2px 2px 0 white;
    user-select: none;
}

#activeOutput {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    place-items: center;
    margin: auto;
    max-width: 1500px;
}

#houseOutput {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    place-items: center;
    margin: auto;
    max-width: 1500px;
}

#playerOutput {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    place-items: center;
    margin: auto;
    max-width: 1500px;
}

.coloredname {
    text-shadow: 2px 2px 2px black;
    will-change: filter;
    transition: all 0.2s ease-in-out;
}

.coloredname:hover {
    filter: brightness(60%);
}

.individualcoloredname {
    text-shadow: 2px 2px 2px black;
    transition: all 0.2s ease-in-out;
}

.rankedname {
    text-shadow: 2px 2px 2px black;
}

.nodata{
    text-align: center;
    color:rgb(255, 26, 26);
    cursor: default;
    text-shadow: 2px 2px 2px black;
}

.playerinfo {
    text-align: center;
}

.houseinfo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(106, 111, 117);
    border-radius: 15px;
    outline:solid;
    outline-color: white;
    width: 350px;
    height: 200px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.houseinfo p{
    text-align: center;
    margin-bottom: 0.05em;
    margin-top: 0.05em;
}

.individualhouseinfo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(106, 111, 117);
    border-radius: 15px;
    outline:solid;
    outline-color: white;
    width: 1000px;/*TODO too big on smaller screen*/
    height: 500px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.individualhouseinfo p{
    text-align: center;
    margin-bottom: 0.05em;
    margin-top: 0.05em;
    font-size: x-large;
}

.housecontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(106, 111, 117);
    border-radius: 15px;
    outline:solid;
    outline-color: white;
    width: 350px;
    height: 200px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.housecontainer p{
    text-align: center;
    margin-bottom: 0.05em;
    margin-top: 0.05em;
}

.small{
    position: absolute;
    font-size: 10px;
    right: 5px;
    top: 5px;
    text-align: right;
}

.headimg{
    width: 35px;
    height: 35px;
    transition: all 0.2s ease-in-out;
}

.headimg:hover {
    filter: brightness(50%);
}

.househeadimg{
    width: 70px;
    height: 70px;
    transition: all 0.2s ease-in-out;
}

.househeadimg:hover {
    filter: brightness(50%);
}

.individualheadimg{
    transition: all 0.2s ease-in-out;
}

.individualheadimg:hover {
    filter: brightness(50%);
}

.nodecoration {
    text-decoration: none;
}

.clickable-copy {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.clickable-copy i {
    position: relative;
    top: -5px;
}

.timetext {
    position: fixed;
    top: 25px;
    right: 20px;
    width: 10%;
    text-align: center;
    z-index: 1000000;
    text-shadow: 0 0 15px white;
}

.discord{
    position:fixed;
    right:10px;
    bottom:10px;
}

.discord a {
    color:#5865F2;
}

.github{
    position:fixed;
    right:50px;
    bottom:10px;
}

.github a {
    color:black;
}

.watermark{
    position:fixed;
    left:10px;
    bottom:10px;
}

.watermark a {
    font-size:12px;
    color:black;
}

.links {
    transition: 0.4s;
    color: #6dabee;
    cursor: pointer;
}

.links:hover {
    transition: 0.4s;
    color: #0f76e4;
}