@font-face {
    font-family: 'mcfont';
    src: url('mcfont.ttf') format('truetype');
}

body {
    background-color: rgb(77, 77, 77);
    font-family: 'mcfont';
}

#activeOutput {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    place-items: center;
    margin: auto;
    max-width: 1500px;
}

.housecontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(106, 111, 117);
    border-radius: 15px;
    outline:solid;
    outline-color: white;
    width: 350px;
    height: 200px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.housecontainer p{
    text-align: center;
    margin-bottom: 0.05em;
    margin-top: 0.05em;
}

.small{
    position: absolute;
    font-size: 10px;
    right: 5px;
    top: 5px;
    text-align: right;
}

.headimg{
    width: 35px;
    height: 35px;
}

.clickable-copy {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.clickable-copy i {
  position: relative;
  top: -5px;
}

.infotext {
    position: fixed;
    top: 55px;
    right: 20px;
    width: 10%;
    text-align: center;
    z-index: 1000000;
}

div.info{
  position:fixed;
  right:100px;
  top:10px;
  user-select: none;
}

div.discord{
position:fixed;
right:10px;
bottom:10px;
}

div.github{
position:fixed;
right:50px;
bottom:10px;
}

div.watermark{
  position:fixed;
  left:10px;
  bottom:10px;
}

.links {
    transition: 0.4s;
    color: #6dabee;
    cursor: pointer;
}

.links:hover {
    transition: 0.4s;
    color: #0f76e4;
}